data/test-xsds/arrays-mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="block" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
