data/test-xsds/basic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="INACTIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="Id" type="xs:int"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Status" type="StatusType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Person" type="PersonType"/>
</xs:schema>
