data/test-xsds/list-unbounded.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TagList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element name="tags" type="TagList" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="group" type="Group"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
