data/test-xsds/list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TagList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="Color">
    <xs:restriction base="xs:string">
      <xs:enumeration value="red"/>
      <xs:enumeration value="green"/>
      <xs:enumeration value="blue"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ColorList">
    <xs:list itemType="Color"/>
  </xs:simpleType>

  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tags" type="TagList"/>
        <xs:element name="colors" type="ColorList" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
