data/test-xsds/list-inline-restriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CodeList">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[A-Z]{2}[0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codes" type="CodeList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
