data/test-xsds/named-array.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntriesType">
    <xs:sequence>
      <xs:element name="entry" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Entries" type="EntriesType"/>
</xs:schema>
