data/test-xsds/simple-content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="otherUnderlyingIn">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="otherInType" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="Container">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Underlying" type="otherUnderlyingIn" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
