data/test-xsds/unsupported-choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChoiceRoot">
    <xs:complexType>
      <xs:choice>
        <xs:element name="a" type="xs:string"/>
        <xs:element name="b" type="xs:string"/>
      </xs:choice>
      <xs:attribute name="flag" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
